<html>
<head>
<title>Bigtem Makine - Üretim Takibi</title>
<!-- Include fusioncharts core library -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<!-- Include fusion theme -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
<script type="text/javascript"></script>
</head>
<body>


<button id="btnCreateKapalı">Create Kapalı</button>
<button id="btnCreateBekleme">Create Bekleme</button>
<button id="btnCreateÜretim">Create Üretim</button>
<button id="btnUpdate">Update</button>

    <div id="chart-container">FusionCharts XT will load here!</div>
    <div id="chart-container"></div>


    <script type="module" src="index.js"></script>
    <script type="module" src="Request.js"></script>


</body>
</html>
