<html lang="en">
<head>
<meta charset="UTF-8">
<title>Bigtem Makine - Üretim Takibi</title>

  <script type="text/javascript"></script>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"> -->
  <link rel="stylesheet" href="report.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">



  </head>
<body>

    <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bigtem Makine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="report.html">Report <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search"> -->
            <button class="btn btn-outline-success my-2 my-sm-0" id="btnExport">Export</button>
            

          </form>
        </div>
      </nav>

      


    <!-- BOOTSTRAP TABLE -->
      <div>
        <table id="idReport" class="table" style="width:100%">
            <thead>
              <tr>
                <th style="width: 20%">Makine</th>
                <th style="width: 20%">Operatör</th>
                <th style="width: 20%">Çalışma Süresi</th>
                <th style="width: 20%">Bekleme Süresi</th>
                <th style="width: 20%">Durma Süresi</th>
              </tr>
            </thead>
            <tbody class="tbody-dark">
              <tr>
                <td id="M1_machineName">DEFAULT</td>
                <td id="M1_operator">DEFAULT</td>
                <td id="M1_calismaSuresi">DEFAULT</td>
                <td id="M1_beklemeSuresi">DEFAULT</td>
                <td id="M1_durmaSuresi">DEFAULT</td>
              </tr>
              <tr>
                <td id="M2_machineName">DEFAULT</td>
                <td id="M2_operator">DEFAULT</td>
                <td id="M2_calismaSuresi">DEFAULT</td>
                <td id="M2_beklemeSuresi">DEFAULT</td>
                <td id="M2_durmaSuresi">DEFAULT</td>
              </tr>
              <tr>
                <td id="M3_machineName">DEFAULT</td>
                <td id="M3_operator">DEFAULT</td>
                <td id="M3_calismaSuresi">DEFAULT</td>
                <td id="M3_beklemeSuresi">DEFAULT</td>
                <td id="M3_durmaSuresi">DEFAULT</td>
              </tr>
              <tr>
                <td id="M4_machineName">DEFAULT</td>
                <td id="M4_operator">DEFAULT</td>
                <td id="M4_calismaSuresi">DEFAULT</td>
                <td id="M4_beklemeSuresi">DEFAULT</td>
                <td id="M4_durmaSuresi">DEFAULT</td>
              </tr>
              <tr>
                <td id="M5_machineName">DEFAULT</td>
                <td id="M5_operator">DEFAULT</td>
                <td id="M5_calismaSuresi">DEFAULT</td>
                <td id="M5_beklemeSuresi">DEFAULT</td>
                <td id="M5_durmaSuresi">DEFAULT</td>
              </tr>
              <tr>
                <td id="M6_machineName">DEFAULT</td>
                <td id="M6_operator">DEFAULT</td>
                <td id="M6_calismaSuresi">DEFAULT</td>
                <td id="M6_beklemeSuresi">DEFAULT</td>
                <td id="M6_durmaSuresi">DEFAULT</td>
              </tr>
              <tr>
                <td id="M7_machineName">DEFAULT</td>
                <td id="M7_operator">DEFAULT</td>
                <td id="M7_calismaSuresi">DEFAULT</td>
                <td id="M7_beklemeSuresi">DEFAULT</td>
                <td id="M7_durmaSuresi">DEFAULT</td>
              </tr>
              <tr>
                <td id="M8_machineName">DEFAULT</td>
                <td id="M8_operator">DEFAULT</td>
                <td id="M8_calismaSuresi">DEFAULT</td>
                <td id="M8_beklemeSuresi">DEFAULT</td>
                <td id="M8_durmaSuresi">DEFAULT</td>
              </tr>
              <tr>
                <td id="M9_machineName">DEFAULT</td>
                <td id="M9_operator">DEFAULT</td>
                <td id="M9_calismaSuresi">DEFAULT</td>
                <td id="M9_beklemeSuresi">DEFAULT</td>
                <td id="M9_durmaSuresi">DEFAULT</td>
              </tr>
              <tr>
                <td id="M10_machineName">DEFAULT</td>
                <td id="M10_operator">DEFAULT</td>
                <td id="M10_calismaSuresi">DEFAULT</td>
                <td id="M10_beklemeSuresi">DEFAULT</td>
                <td id="M10_durmaSuresi">DEFAULT</td>
              </tr>
              
            </tbody>
          </table>   
      </div>



    <!-- Pie Chart -->
      <div class="container" id="piechart" style="width: 1000px; height: 400px;"></div>

      <script type="module" src="Request.js"></script>
      <script type="module" src="report.js"></script>
    


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>


  <!-- TABLE EXPORT  -->
    <script type="text/javascript" src="./src/FileSaver.min.js"></script>
    <script type="text/javascript" src="./src/xlsx.full.min.js"></script>

    
</body>
</html>
